.page-header
  %h3 Listing opportunities

.row
  .col-md-12
    .row
      %label.col-md-2.control-label Total # Opportunities:
      .col-md-9
        -#TODO calculate just non closed / lost
        = @opportunities.count
    .row
      %label.col-md-2.control-label Total Opportunity Value:
      .col-md-9
        -#TODO calculate just non closed / lost
        = number_to_currency(@opportunities.map(&:value).sum, precision: 0)
    .row
      %label.col-md-2.control-label Weighted Opportunites:
      .col-md-9
        -#TODO calculate just non closed / lost
        = number_to_currency(Opportunity.all.map(&:weighted_value).sum, precision: 0)


.row
  .col-md-12
    %table.table.table-striped
      %tr
        %th Oppty
        %th Org
        %th Type
        %th Stage
        %th Created
        %th Est Close
        %th Value
        %th Weighting
        %th W Value
        %th Days effort


      - @opportunities.each do |opportunity|
        %tr
          %td= link_to opportunity.name, opportunity_path(opportunity)
          %td= opportunity.organisation
          %td= opportunity.type
          %td= opportunity.stage
          %td= date_display opportunity.identified_at
          %td= date_display opportunity.est_close_at
          %td= number_to_currency(opportunity.value, precision: 0)
          %td= number_to_percentage(opportunity.weighting, precision: 0)
          %td= number_to_currency(opportunity.weighted_value, precision: 0)
          %td= opportunity.est_effort_days

    %br

    = link_to 'New Opportunity', new_opportunity_path, id: :new_opportunity_link, class: 'btn btn-primary btn-sm'
