.page-header
  %h1 Listing opportunities

.row
  .col-md-12
    %table.table.table-striped
      %tr
        %th Name
        %th Organisation
        %th Type
        %th Close Date
        %th Value
        %th Weighting
        %th Comments


      - @opportunities.each do |opportunity|
        %tr
          %td= link_to opportunity.name, opportunity_path(opportunity)
          %td= opportunity.organisation
          %td= opportunity.type
          %td= date_display opportunity.est_close_at
          %td= number_to_currency(opportunity.value, precision: 0)
          %td= opportunity.weighting
          %td= opportunity.comments

    %br

    = link_to 'New Opportunity', new_opportunity_path, id: :new_opportunity_link, class: 'btn btn-primary btn-sm'
