.row
  .col-md-12
    .row
      %label.col-md-2.control-label Name:
      .col-md-9
        = @opportunity.name
    .row
      %label.col-md-2.control-label Organisation:
      .col-md-9
        = @opportunity.organisation
    .row
      %label.col-md-2.control-label Type:
      .col-md-9
        = @opportunity.type
    .row
      %label.col-md-2.control-label Est Close Date:
      .col-md-9
        = @opportunity.est_close_at
    .row
      %label.col-md-2.control-label Source:
      .col-md-9
        = @opportunity.source
    .row
      %label.col-md-2.control-label Value:
      .col-md-9
        = number_to_currency(@opportunity.value, precision: 0)
    .row
      %label.col-md-2.control-label Weighting:
      .col-md-9
        = number_to_percentage(@opportunity.weighting, precision: 0 )
    .row
      %label.col-md-2.control-label Comments:
      .col-md-9
        = @opportunity.comments

-#add_column :opportunities, :idea_at, :date
-#add_column :opportunities, :lead_at, :date
-#add_column :opportunities, :initial_contact_at, :date
-#add_column :opportunities, :needs_analysis_at, :date
-#add_column :opportunities, :solution_development_at, :date
-#add_column :opportunities, :negotiation_at, :date
-#add_column :opportunities, :won_lost_at, :date

  
= link_to 'Edit', edit_opportunity_path(@opportunity), id: :edit_opportunity_link, class: 'btn btn-sm btn-primary'
