.row
  .col-md-12
    .row
      %label.col-md-2.control-label Name:
      .col-md-9
        = @opportunity.name
    .row
      %label.col-md-2.control-label Organisation:
      .col-md-9
        = @opportunity.organisation
    .row
      %label.col-md-2.control-label Contact:
      .col-md-9
        = @opportunity.contact_name
    .row
      %label.col-md-2.control-label Type:
      .col-md-9
        = @opportunity.type
    .row
      %label.col-md-2.control-label Stage:
      .col-md-9
        = @opportunity.stage
    - if @opportunity.stage_id == Selection.opportunity_stage_lost.id
      .row
        %label.col-md-2.control-label Lost Reason:
        .col-md-9
          = "#{@opportunity.lost_reason_type} - #{@opportunity.lost_reason}"
    .row
      %label.col-md-2.control-label Identified:
      .col-md-9
        = date_display @opportunity.identified_at
    .row
      %label.col-md-2.control-label Est Close Date:
      .col-md-9
        = date_display @opportunity.est_close_at
    .row
      %label.col-md-2.control-label Source:
      .col-md-9
        = @opportunity.source
    .row
      %label.col-md-2.control-label Source Details:
      .col-md-9
        = @opportunity.source_detail
    .row
      %label.col-md-2.control-label Value:
      .col-md-9
        = number_to_currency(@opportunity.value, precision: 0)
    .row
      %label.col-md-2.control-label Weighting:
      .col-md-9
        = number_to_percentage(@opportunity.weighting, precision: 0 )
    .row
      %label.col-md-2.control-label Est Effort (days):
      .col-md-9
        = @opportunity.est_effort_days
    .row
      %label.col-md-2.control-label Comments:
      .col-md-9
        = @opportunity.comments
    .row
      %h4.col-md-2 Dates
    .row
      %label.col-md-2.control-label Idea:
      .col-md-9
        = date_display @opportunity.idea_at
    .row
      %label.col-md-2.control-label Lead:
      .col-md-9
        = date_display @opportunity.lead_at
    .row
      %label.col-md-2.control-label Initial Contact:
      .col-md-9
        = date_display @opportunity.initial_contact_at
    .row
      %label.col-md-2.control-label Needs Analysis:
      .col-md-9
        = date_display @opportunity.needs_analysis_at
    .row
      %label.col-md-2.control-label Solution Development:
      .col-md-9
        = date_display @opportunity.solution_development_at
    .row
      %label.col-md-2.control-label Negotiation:
      .col-md-9
        = date_display @opportunity.negotiation_at
    .row
      %label.col-md-2.control-label Won / Lost:
      .col-md-9
        = date_display @opportunity.won_lost_at

= link_to 'Edit', edit_opportunity_path(@opportunity), id: :edit_opportunity_link, class: 'btn btn-sm btn-primary'
